*{
    font-family: 'Poppins', sans-serif;
    background-color: #a2d240;
}

.container-fluid{

    margin-top: 20px;
    justify-content: center;
    
}
.navbar-brand{
    text-align: center;
    width: 15%;
    padding-left: 15px;
}

.navbar .nav-item{
    margin-left: 10px;
    margin-right: 10px;
    
    
}

.navbar .nav-item .btn{
    color: #000;
    border: transparent;
    background-color: transparent;
    padding: 16px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    border-radius: 23px;
    box-shadow:  12px 12px 24px #92bd3a,-12px -12px 24px #b2e746;
    
}



.navbar .nav-item .btn::after{
    background-color: #000;
    content: "";
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.navbar .nav-item .btn:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}


.form-control.me-2{
    border: 2px solid #000;
    border-radius: 4px;
    background-color: transparent;
}
.form-control.me-2:hover{
    background-color: #fff;
    opacity: 0.7;
}

.btn.btn-outline-success{
    color: #fff;
    border: transparent;
    background-color: #000;
}

.btn.btn-outline-success:hover{
    color: #000;
    background-color: #fff;
}