body, h1,.elemfooter {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    height: 65px;
    width: 250px;
    margin-top: 15px;
}
#encabezado{
    display: inline-block;
    vertical-align: top ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 15px;
    text-align: justify;
}
hr{
    border : 2px solid black  7.5%;
    margin-top:35px;
}
.menu{
    display: inline-block;
}
ul{
    list-style-type: circle;
}
iframe{
    height: 400px;

}
footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding:10px 0;

 }

.elemfooter{
    display: flex;
    justify-content: center;
}
.elemfooter li{
    margin: 0 10px;
}